* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey: #f6f1f1;
  --mid-grey: #e5e5e5;
  --dark-grey: #cacaca;
  --accent-color: #1ca089;
}

body {
  background-color: var(--light-grey);
}
.bi {
  transform: scale(1.3);
}
p {
  margin: 0;
}

.page-container {
  max-width: 1600px;
  margin: auto;
}

nav {
  background-color: #fff;
}

nav img {
  width: 4rem;
}

.navbar-brand {
  width: 40%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.all-articles {
  margin: 0;
}

.nav-item {
  padding: 0.5rem;
  cursor: pointer;
}

.bi.bi-bag-fill {
  color: var(--accent-color);
}
footer {
  padding: 1rem 0;
  background-color: var(--dark-grey);
}
footer img {
  width: 5rem;
  margin-bottom: 1rem;
}

footer a {
  transform: scale(1.3);
  color: black;
  transition: color 0.5s;
}
footer a:hover {
  color: var(--accent-color);
}
footer .contact {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin: auto;
  margin-bottom: 1.5rem;
}

footer .contact i {
  margin-right: 0.5rem;
}

footer .email,
footer .phone {
  display: flex;
  align-items: center;
  height: 35%;
}

footer .adress {
  text-align: center;
}

footer .soc-med {
  margin: auto;
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

#root {
  min-height: 46.5rem;
}

.welcome {
  background-color: #fffefe;
  width: 60rem;
  height: 20rem;
  padding: 2rem;
  text-align: center;
  margin: 3rem auto;
}

.welcome h1 {
  padding: 1rem 0;
}

.welcome p {
  padding: 1rem 1rem 3rem 1rem;
  font-size: 1.2rem;
}

.welcome img {
  width: 25rem;
}

/* Basket / Varukorg / Shopping cart */

.box {
  flex-direction: column;
  background-color: #fffefe;
  font-weight: bold;
  width: 60rem;
  height: 35rem;
  padding: 6rem;
  text-align: center;
  margin: 3rem auto;
}

#checkoutBtn {
  font-weight: bold;
  position: relative;
  top: 150px;
  left: 380px;

  color: black;
}

.bi.bi-x-lg {
  position: relative;
  bottom: 90px;
  left: 460px;
}

.totalPrice {
  position: relative;
  top: 120px;
  left: 350px;
}

.boxItemsLight {
  background-color: #fffefe;
  width: 50rem;
  height: 3rem;
  margin-top: 1fr;
}

.contentBox {
  padding: 11px;
  grid-column: 1;
  display: flex;
  width: auto;
  height: 3rem;
  grid-auto-rows: 100px;
}

.counter {
  margin-left: 15px;
}

#counter-label {
  margin-left: 3rem;
}

.bi.bi-trash-fill {
  margin-left: 30rem;
  padding-right: 10px;
}

.boxItemsDark {
  background-color: var(--light-grey);
  width: 50rem;
  height: 3rem;
  margin-top: 1fr;
}

.boxItemsLight:hover {
  border: 1px solid var(--mid-grey);
}

.boxItemsDark:hover {
  border: 1px solid var(--mid-grey);
}

.boxItemsLight > img {
  width: 3%;
  align-items: left;
  margin-top: 1fr;
  float: left;
}

.boxItemsDark > img {
  width: 3%;
  align-items: center;
  margin-top: 1fr;
  float: left;
}
